/*!
**  Author: Kale Chao | FakeCityMan
**  Blog: kalechao87@github.io
**/
@import "normalize-reset", "compass/css3";

/*
 * Remove the gap between images and the bottom of their containers
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

img {
    vertical-align: middle;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
* Hide visually and from screenreaders, but maintain layout
*/

.invisible {
   visibility: hidden;
}

/**
 * Clearfix helper
 * Used to contain floats: http://nicolasgallagher.com/micro-clearfix-hack/
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
 Author's custom styles
 ========================================================================== */
 *,
 *:after,
 *:before {
    @include box-sizing(border-box);
    // -webkit-user-select:none;
    // -webkit-touch-callout:none;
 }

html, body {
    overflow: hidden;
    height: 100%;
}

/* ==========================================================================
 定义变量
 ========================================================================== */
$main-bgcolor: #0c0e20;
$main-color: #abaed5;

/* ==========================================================================
定义变量结束
========================================================================== */

body {
    font-family: 'Avenir Next', 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $main-bgcolor;
    color: $main-color;
    overflow: hidden;
    font: {
        size: 24px;
    }
}


.ab-element {
    position: absolute;
}

.block-img {
    display: block;
    max-width: 100%;
}

.ab-img {
    position: absolute;
}

.ab-block-img {
    display: block;
    position: absolute;
    max-width: 100%;
}

.hvcenter {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
}

.hcenter {
    position: absolute;
    left: 50%;
    @include transform(translate3d(-50%, 0, 0));
}

.vcenter {
    position: absolute;
    top: 50%;
    @include transform(translate3d(0, -50%, 0));
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include background-size(cover);
    overflow: hidden;
}

.scrolly-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
}

#all {
    // background-image: url('../images/universal-bg.jpg');
}

#loading-bg {
    background-image: url('../images/loading-bg.jpg');
    z-index: 100;
}

#logo {
    top: 523px;
    left: 274px;
    $logo: '../images/logo.png';
    width: image-width($logo);
    height: image-height($logo);
    background-image: url($logo);
    z-index: 100;
}

#loading-num {
    top: 643px;
    width: 100%;
    font: {
        size: 30px;
        weight: 100;
    }
    text: {
        align: center;
    }
    z-index: 100;
}

#city {
    top: 460px;
    left: 0;
    $city: '../images/city.png';
    width: image-width($city);
    height: image-height($city);
    // background-image: url($city);
}

#cover-content1 {
    top: 72px;
    left: 165px;
    $cover-content1: '../images/cover-content1.png';
    width: image-width($cover-content1);
    height: image-height($cover-content1);
    background-image: url($cover-content1);
}

#cover-content2 {
    top: 295px;
    left: 112px;
    $cover-content2: '../images/cover-content2.png';
    width: image-width($cover-content2);
    height: image-height($cover-content2);
    background-image: url($cover-content2);
}

#computer-container {
    top: 367px;
    left: 76px;
    width: 494px;
    height: 406px;
}

#computer {
    top: 20px;
    $computer: '../images/computer.png';
    width: image-width($computer);
    height: image-height($computer);
    background-image: url($computer);
}

#computer-content {
    top: 234px;
    left: 93px;
    $computer-content: '../images/computer-content.png';
    width: image-width($computer-content);
    height: image-height($computer-content);
    background-image: url($computer-content);
}

#light {
    top: 0;
    left: 31px;
    $light: '../images/light.png';
    width: image-width($light);
    height: image-height($light);
    background-image: url($light);
}

#process {
    $process: '../images/star-bg.jpg';
    width: image-width($process);
    height: image-height($process);
    // background-image: url($process);
}

#process-all {
    $line: '../images/line.png';
    width: image-width($line);
    height: image-height($line);
    background-image: url($line);
}

/*=================process start=======================*/
// process sprite 设置
$process-layout:smart;
$process-spacing:10px;
$process-sprite-dimensions: true;
@import "process/*.png";
@include  all-process-sprites;

#cf {
    top: 26px;
    left: 115px;
}

#rc {
    top: 321px;
    left: 0;
}

#hy {
    top: 481px;
    left: 372px;
}

#hd {
    top: 814px;
    left: 76px;
}

#wy {
    top: 1130px;
    left: 363px;
}

#hyyq {
    top: 1142px;
    left: 4px;
}

#process-detail-container {
    background: rgba(0, 0, 0, 0.88);
}

#detail {
    top: 400px;
    left: 74px;
    $detail: '../images/detail.png';
    width: image-width($detail);
    height: image-height($detail);
    background-image: url($detail);
}

#close {
    top: -70px;
    right: 23px;
    $close: '../images/close.png';
    width: image-width($close);
    height: image-height($close);
    background-image: url($close);
}

#detail-content {
    $detail-content: '../images/yc.png';
    width: image-width($detail-content);
    height: image-height($detail-content);
    // background-image: url($detail-content);
}

#end-content1 {
    top: 282px;
    left: 162px;
    $end-content1: '../images/end-content1.png';
    width: image-width($end-content1);
    height: image-height($end-content1);
    background-image: url($end-content1);
}

#end-content2 {
    bottom: 36px;
    left: 200px;
    $end-content2: '../images/end-content2.png';
    width: image-width($end-content2);
    height: image-height($end-content2);
    background-image: url($end-content2);
}

#music-control {
    top: 100px;
    right: 46px;
    $music: '../images/music-off.png';
    width: image-width($music);
    height: image-height($music);
    // background-image: url($music);
}

#arrow-up {
    bottom: 0;
    left: 50%;
    $arrow-up: '../images/arrow-up.png';
    width: image-width($arrow-up);
    height: image-height($arrow-up);
    // background-image: url($arrow-up);
    @include transform(translate3d(-50%, 0, 0));
}

#arrow-left {
    right: 0;
    top: 50%;
    $arrow-left: '../images/arrow-left.png';
    width: image-width($arrow-left);
    height: image-height($arrow-left);
    // background-image: url($arrow-left);
    @include transform(translate3d(0, -50%, 0));
}

#cover, #computer-container, #process,  #process-detail-container, #end {
    display: none;
}

#music-control, #arrow-left, #arrow-up, #city {
    visibility: hidden;
}
